@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(201, 88, 13);
  font-family: "Roboto Slab", serif;
}


.buttomsheet {
  background-color: rgb(83, 25, 25);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 26px;
  height: 100vh;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.coin-div {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.coin-p {
  display: flex;
  align-items: center;
  font-size: 39px;
  color: white;
}

.game-btn {
  width: 265px; 
  height: 265px; 
  border-radius: 50%; 
  color: white;
  border: none; 
  cursor: pointer;
  background-color: rgb(255, 94, 0);
  font-size: 200px;
}

.foot {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgb(71, 20, 20);
  padding: 20px;
  text-align: center;
}

.foot-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.foot-li {
  color: white;
  cursor: pointer;
}

.achive-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 120px;
  background-color: rgb(61, 57, 57);
  margin-bottom: 12px;
  margin-right: 5px;
  cursor: pointer;
}

.achive-img {
  margin-top: 2;
  margin-bottom: 7px;
  width: 40px;
  height: 40px;
  
}

.achive-title {
  text-align: center;
  font-size: 12px;
  color: white;
}

.achive-coin-div {
  text-align: center;
  margin-top: 10px;
  border-top: rgb(255, 255, 255) solid 1px;
  width: 100%;
}

.achive-coin {
  margin-top: 2px;
  color: white;
}

.achive-countainer {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 39px;
}

.coin-img {
  margin-right: 12px;
  width: 60px;
  height: 60px;
}

.panel-btn-img {
  width: 30px;
  height: 30px;
}

.contry-div {
  margin-bottom: 15px;
}

.contry-img {
  width: 181px;
  height: 100px;
}

.div-other {
  background-color: rgb(83, 25, 25);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.other-h1 {
  color: white;
  font-size: 15px;
  margin-top: 11px;
  padding: 12px;
} 

.other-p {
  color: white;
}

.title-game {
  text-align: center;
  margin-top: 30px;
  font-size: 80px;
  color: #a54709;
}

.other-img {
  margin-top: 90px;
  width: 200px;
  height: 200px;
}